html {
  font-family: Helvetica;
  text-align: center;
  font-size: 14px;
}

.home {
  background-image: url("https://jasonkorolenko.github.io/broadway/resources/images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.nav {
  font-size: 18px;
  color: white;
  font-weight: normal;
}
a {
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://jasonkorolenko.github.io/broadway/resources/images/the-flatiron-building.png");
}
.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
